{% extends 'layout.html.twig' %}
{% block header %} {% endblock %}
{% block content %}
    <form id="form" class="d-flex flex-column" action="{{ baseroute }}todo/create" method="post" novalidate>
        <div class="form-group ">
            <label for="username">Имя пользователя</label>
            <input name="username" type="text" class="form-control" id="username">
            <div class="invalid-feedback">
                Имя пользователя не может быть пустым
            </div>
        </div>
        <div class="form-group ">
            <label for="email">email</label>
            <input name="email" type="email"
                   pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
                   class="form-control" id="email">
            <div class="invalid-feedback">
                введите достоверный email адрес
            </div>
        </div>
        <div class="form-group ">
            <label for="text">текст</label>
            <textarea class="form-control" name="text" id="text" rows="5"></textarea>
        </div>
        <div class="form-check mb-2">
            <input type="checkbox" class="form-check-input" id="done" name="done">
            <label class="form-check-label text-uppercase " for="done">Выполнено</label>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <script>
        (function () {
            const form = document.getElementById('form');
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            });
        })();
    </script>
{% endblock %}
{% block javascripts %}

{% endblock %}
